h1 {
	font-size: 60px;
	color: gray;
}

p {
	line-height: 1.5em;
	word-spacing: 0.3em;
}

header {
	background-color: red;
}

nav {
	background-color: aqua;
}

main {
	background-color: yellow;
}

section {
	background-color: purple;
}

footer {
	background-color: lime;
}
